
.containerCreate {
    min-width: 300px;
    background-color: #651b64;
    height: 100vh;
    z-index: 1;
    padding: 1.5em;
    
}

.containerCreate h2 {
    color: white;
}

.containerForm {
    display: flex;
    flex-direction: column;
}

.containerForm button {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(222, 222, 222);
    margin: 1em 0;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    transition: 0.2s ease all;
    font-weight: bold;
    color: #651b64;
}

.containerForm button:hover {
    box-shadow: none;
}

.containerForm input,
.containerForm textarea {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(222, 222, 222);
    margin: 5px 0;
    resize: none;
}



.containerForm textarea {
    height: 150px;
}


@media screen and (max-width: 900px) {
    
    .containerCreate {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
       height: 100%;
       transition: 0.2s ease all;
       
    }
    .containerForm textarea {
        height: 40px;
    }
  

}